.search {
    display: none !important;
}
.videoWrap{
    margin-bottom: 0;
}
.ready{
    margin-top: 200px;
}
.footer_1{
	padding-top: 30px;
}
.ab_agency{
	padding-top: 100px;
	    padding-bottom: 165px;
}
.sec_title{
    text-align: center;
}
.logo img{
    max-width: 80px;
}
a:focus{
    color: #E62B4A;
}
.flipper img{
    max-width: 64px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
}
.front{
    min-height: 215px;
    padding: 25px;
}
.videoWrap{
    padding: 30px;
}
.rs-fullvideo-cover{
        background: rgba(75, 75, 75, 0.5);
}
.sub_title{
    font-size: 50px;
}
.showit{
    right: 0;
    left: 60px;
}
/*ABOUT*/
.pageBanner {
    background: url(../images/bg/about.jpg) no-repeat center center / cover;
}
/*showcase*/
.showcase{
    background: url(../images/slider/1_1.jpg) no-repeat center center / cover;
}
.contacts_up{
    background: url(../images/bg/contacts.png) no-repeat center center / cover;
}