.search {
    display: none !important;
}
.bgblack{
        background: url(../images/bg/2.jpg) no-repeat center center / cover;
}
.ready {
    background: url(../images/bg/contacts.png) no-repeat center center / cover;
        background-position-y: 68%;
}
.videoWrap{
    margin-bottom: 0;
}
.ready{
    margin-top: 200px;
}
.footer_1{
	padding-top: 30px;
}
.ab_agency{
	padding-top: 100px;
	    padding-bottom: 165px;
}
.sec_title{
    text-align: center;
    font-size: 35px;
}
.logo img{
    max-width: 80px;
}
a:focus{
    color: #E62B4A;
}
.flipper img{
    max-width: 64px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
}
.front{
    min-height: 215px;
    padding: 25px;
}
.back{
    min-height: 215px;
    padding: 25px;
}
.videoWrap{
    padding: 30px;
}
.rs-fullvideo-cover{
        background: rgba(75, 75, 75, 0.5);
}
.sub_title{
    font-size: 50px;
}
.showit{
    right: 0;
    left: 60px;
}
.singleClient_2{
    padding-left: 20px;
}
.singleClient_fix{
    width: 20%;
}

/*ABOUT*/
.pageBanner {
    background: url(../images/bg/about.jpg) no-repeat center center / cover;
}
.testimoniTab ul li a span{
    width: 150px;
    height: 150px;
}
/*showcase*/
.showcase{
    background: url(../images/slider/1_1.jpg) no-repeat center center / cover;
}
.contacts_up{
    background: url(../images/bg/contacts.png) no-repeat center center / cover;
}
.container__showcase{
    width: 100%;
    max-width: 960px;
}
.red:after{
        position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    content: '';
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
  background: rgba(227, 30, 36, 0.8);
}
.ylw:after{
    background: rgba(255, 228, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    content: '';
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
.purple:after{
        position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    content: '';
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
        background: rgba(124, 45, 132, 0.8);
}
    

@media(max-width:960px) {
    .singleClient_fix{
         width: 50%;
    }
   
}
@media(max-width:480px) {
    .singleClient_fix{
         width: 100%;
    }
   
}